* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    outline: 0;
}

.logo img {
    width: 150px;
    height: 150px;
}

.top {
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0px 4px;
    background-color: white;
}

header.top {
    position: fixed;
    top: 0%;
}

nav.navbar a {
    margin: 0 10px;
    padding: 1px 5px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    color: #111;
    position: relative;
}

nav.navbar a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    margin: auto;
    background-color: #009688;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav a:hover::after {
    width: 100%;
}



header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/bg.jpg);
    background-position: center;
    background-size: cover;
}

.main {
    width: 100%;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-align: center;
    color: white;
}

.main h2 {
    font-size: 70px;
    margin: 35px auto 0px;
}

.main h6 {
    font-size: 16px;
    margin-top: 5px;
}

.main h6 u {
    color: rgb(246, 12, 12);
}

button {
    width: 200px;
    padding: 15px 2px;
    margin-top: 65px;
    text-align: center;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid #009688;
    border-radius: 52px;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
}

button span {
    background: #07ceba;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover span {
    width: 200px;
}

.closebtn,
.burger {
    display: none;
}

/* ----------------------------------- Media Queries--------------------------------------- */

@media screen and (max-width: 625px) {

    nav.navbar {
        height: 100%;
        width: 0;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        background-color: rgb(13, 96, 95);
        overflow: hidden;
        cursor: pointer;
        line-height: 2;
        padding-top: 75px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    nav.navbar a {
        display: block;
        font-size: 32px;
        margin-top: 15px;
        border: 1px solid red;

    }

    .navbar a:hover {
        color: #f1f1f1;
    }

    nav a:hover::after {
        bottom: -1px;
    }

    .closebtn {
        display: block;
        font-size: 52px;
        position: absolute;
        top: 0px;
        right: 25px;
        cursor: pointer;

    }

    .burger {
        display: block;
        font-size: 32px;
        font-weight: 800;
        text-align: center;
        position: fixed;
        right: 25px;
        cursor: pointer;
    }

}

/* ---------------- products------------ */
.products {
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
}

.products h1 {
    font-size: 36px;
    font-weight: 600;
    padding-top: 60px;

}

.mySlides img {
    width: 480px;
    height: 450px;
}

.prod-col p {
    text-align: center;
    font-size: 31px;
    line-height: 2;
}

.prod-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod-col {
    flex-basis: 49%;
    height: 600px;
    border-radius: 10px;
    margin: 3% 1%;
    padding: 20px 22px;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: border 0.3s ease;
}
.prod-col:hover{
    border-bottom: 1px solid #04AA6D;
    border-right: 1px solid #04AA6D;
}
.prod-col span {
    color: red;
    font-weight: 600;
    font-size: 38px;
}

/* Slideshow container */
.slideshow-container {
    text-align: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* ---------------------------------form------------------------ */

.form h1 {
    font-size: 36px;
    font-weight: 600;
    padding-top: 60px;
    text-align: center;

}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-box {
  width: 100%;
  border-radius: 5px;
  background-color: #07ceba;
  padding: 20px;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }


  .form-box h1 {
    font-size: 60px;
    margin-top: 20px;
  }

  .form-box h3 {
    margin: 20px auto;
    font-weight: 400;
    line-height: 20px;
  }
}